<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Options -->
    <add key="Path" value=""/> <!-- The full path of the folder you want to monitoring. -->
    <add key="Filter" value="*.*"/> <!-- The filter of the files you want to monitor (*.*, *.txt). -->
    <add key="IncludeSubfolders" value="true"/> <!-- Include sub folders? true/false. -->

  </appSettings>
</configuration>